@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
                          /* nav-section */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.nav-title {
    display: flex;
}
.nav-title img{
    width: 32px;
    text-align: center;
    margin-right: 6px;
}
.nav-title h2{
    font-size: 1.35rem;
    font-weight: 800;
}
.nav-title h2 span{
    color: #FF5400;
}

.nav-manu a {
    text-decoration: none;
    color: #424247;
    margin-left: 20px;
    letter-spacing: 1px;
}
a.first-child {
    color: #FF5400;
}

/* responsive mobile device */

@media screen and (max-width: 600px) {
    .nav-bar{
        flex-direction: column;
        gap: 13px 0;
    }
    
}